/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .carousel-item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.logout-button {
    border: none;
    background-color: transparent !important;
}

.logout-button:focus {
    box-shadow: none;
}

.container .nav-pills .row {
    margin-right: 0;
    margin-left: 0;
}

.container .nav-pills .row,
.container .nav-pills .row .nav-link {
    width: 100%;
}

.nav-pills .container .row .nav-link:hover {
    background-color: #eee;
}